.imgDisplay {
    display: block;
    position: absolute;
    height: 100px;
    width: 100px;
}

div#catFoto>img{
    .imgDisplay;
}

div#catFoto>img:before {
    content: url('http://localhost:8080/catswebapp/resources/img/cat_upload.jpg');
    .imgDisplay;
}

div#catFoto>form{
    display: block;
    height: 200px;
}

div#catFoto{
    background-color: rgba(245, 245, 245, 0.5);
}