<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
http://www.springframework.org/schema/data/jpa
http://www.springframework.org/schema/data/jpa/spring-jpa-1.11.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

    <context:component-scan base-package="com.cats"/>

    <context:annotation-config/>

    <tx:annotation-driven/>

    <bean id="Cat" class="com.cats.Cat">
    </bean>

    <bean id="CloudCatFotoDAO" class="com.cats.DAO.CloudCatFotoDAO">
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/views/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>


    <jpa:repositories base-package="com.cats" entity-manager-factory-ref="entityManagerFactory"
                      transaction-manager-ref="transactionManager"/>

    <bean id="dbInit" class="org.springframework.jdbc.datasource.init.ResourceDatabasePopulator">
        <property name="scripts">
            <list>
                <value>classpath:database\schema-DDL-mysql.sql</value>
                <value>classpath:database\schema-DML-mysql.sql</value>
            </list>
        </property>
        <property name="continueOnError" value="true"/>
    </bean>

    <bean id="startupScripts" class="org.springframework.jdbc.datasource.init.DataSourceInitializer">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
        <property name="databasePopulator">
            <ref bean="dbInit"/>
        </property>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="locale/labels"></property>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
    <mvc:interceptors>
        <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="lang"/>
        </bean>
    </mvc:interceptors>
    <!--if i18n.CookieLocaleResolver - problem with en_GB. en is working only if fileName is en. No such problem with pl-->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="en_GB"/>
    </bean>

    <mvc:annotation-driven/>
    <mvc:resources mapping="/resources/**" location="/WEB-INF/classes/static/, /webjars/">
        <!-- to use webjars-locator, cache-control and resource-chain need to be set to true -->
        <mvc:cache-control cache-public="true" max-age="2592000"/>
        <mvc:resource-chain resource-cache="true"/>
    </mvc:resources>
    <!--example resource path: http://localhost:8080/catswebapp/resources/img/cat_upload.jpg-->
    <!-- path without webjars-locator <script src="resources/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <!-- path with webjars-locator  <script src="resources/bootstrap/js/bootstrap.min.js"></script> -->
</beans>